.home--sales {
    margin-top: 3em;
}

.home--products {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px
}

.home--section-title {
    font-size: 2rem;
    font-weight: bold;
}

.home--best-seller-slide-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.home--slider {
    width: 600px;
    box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.1);
}

.home--slide-img {
    height: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.home--best-sellers {
    display: flex;
    justify-content: space-between;
}

.home--best-sellers-text {
    margin-top: 3em;
    width: 50ch;
    text-indent: 5ch;
    line-height: 25px;
}