.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 2em;
}

.products--picture {
    margin-inline: auto;
    width: 550px;
    border-radius: 10px;
}

.products--title {
    font-size: 32px;
    font-weight: bold;
}

.products--wrapper {
    display: flex;
    align-items: center;
    margin: 2em 0;
    gap: 24px;
}

.products--text {
    font-size: 20px;
    line-height: 24px;
    text-indent: 50px;
}